{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}Andrew Ramiro Tirado</title>
    <link rel="stylesheet" href="{% static 'css/page-styles.css' %}">
</head>
<body>
    <header id="main-header">
        <p id="logo">ANDREW <span style="font-weight: 500;">ramiro</span> TIRADO</p>
        <a id="main-menu">MENU</a>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>