{% extends 'base-work.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<main>
    <div class="three-grid-container">
        {% for abstract in abstract_list %}
        <div style="background-image: url('{{ abstract.image }}')" class="work-card">
            <div class="two-grid-work-details">
                <h4 class="detail-title">
                    {{ abstract.title }}
                </h4>
                <div>
                    <p class="detail-text" id="detail-created">{{ abstract.created_date }}</p>
                    <p class="detail-text" id="detail-dimensions">{{ abstract.dimensions }}</p>
                    <p class="detail-text" id="detail-materials">{{ abstract.used_materials }}</p>
                    <p class="detail-text" id="detail-location">{{ abstract.location }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}