{% extends 'base-work.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<main>
    <div class="two-grid-container">
        {% for installation in installation_list %}
        <div style="background-image: url('{{ installation.image }}')" class="work-card">
            <div class="two-grid-work-details">
                <h4 class="detail-title">
                    {{ installation.title }}
                </h4>
                <div>
                    <p class="detail-text" id="detail-created">{{ installation.created_date }}</p>
                    <p class="detail-text" id="detail-dimensions">{{ installation.dimensions }}</p>
                    <p class="detail-text" id="detail-materials">{{ installation.used_materials }}</p>
                    <p class="detail-text" id="detail-location">{{ installation.location }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}