{% extends 'base-work.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<main>
    <div class="three-grid-container">
        {% for sculpture in sculpture_list %}
        <div style="background-image: url('{{ sculpture.image }}')" class="work-card">
            <div class="three-grid-work-details">
                <h4 class="detail-title">
                    {{ sculpture.title }}
                </h4>
                <div>
                    <p class="detail-text" id="detail-created">{{ sculpture.created_date }}</p>
                    <p class="detail-text" id="detail-dimensions">{{ sculpture.dimensions }}</p>
                    <p class="detail-text" id="detail-materials">{{ sculpture.used_materials }}</p>
                    <p class="detail-text" id="detail-location">{{ sculpture.location }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}