{% extends 'base-work.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<main>
    <div class="three-grid-container">
        {% for two_d in two_d_list %}
        <div style="background-image: url('{{ two_d.image }}')" class="work-card">
            <div class="two-grid-work-details">
                <h4 class="detail-title">
                    {{ two_d.title }}
                </h4>
                <div>
                    <p class="detail-text" id="detail-created">{{ two_d.created_date }}</p>
                    <p class="detail-text" id="detail-dimensions">{{ two_d.dimensions }}</p>
                    <p class="detail-text" id="detail-materials">{{ two_d.used_materials }}</p>
                    <p class="detail-text" id="detail-location">{{ two_d.location }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}