@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: #4b4b4b;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 .cv-contact, .cv-contact a {
    color: #4b4b4b;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    letter-spacing: 2.25px;
    text-decoration: none;
}

#main-header {
    display: grid;
    align-items: center;
    height: 80px;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-areas: ". logo menu .";
}

#logo {
    color: #4b4b4b;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 5px;
    grid-area: logo;
    justify-self: start;
}

#main-menu {
    grid-area: menu;
    justify-self: end;
}

/* New CSS */

#cv-main {
    max-width: 1400px;
    padding: 0px 5% 5% 5%;
    margin: 0 auto;
}

.cv-contact {
    margin: 50px 0px;
}

.cv-contact, .cv-contact a {
    color: #4b4b4b;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2.25px;
    text-decoration: none;
}

.cv-container {
    max-width: 1400px;
    max-height: 500px;
    overflow: scroll;
    padding: 5%;
    background-color: #f8f8f8;
    margin: 0 auto;
}

.cv-category {
    margin-bottom: 30px;
    color: #4b4b4b;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.cv-flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.cv-year {
    grid-area: cv-year;
    justify-self: end;
    color: #4b4b4b;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.cv-text {
    grid-area: cv-text;
    color: #4b4b4b;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.cv-details {
    display: grid;
    grid-template-columns: 20% 100px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'cv-year . cv-text';
    margin: 0px 50px 30px 50px;
}

.grid-image {
    width: 100%;
}

.short-hr {
    width: 40%;
    color: #4b4b4b;
    margin: 20px 0px;
}

.two-grid-container {
    max-width: 1500px;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: inherit;
    grid-gap: 45px;
    margin: 0 auto;
}


/* .three-grid-container {
    max-width: 1500px;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: inherit;
    grid-gap: 45px;
    margin: 0 auto;
}


.work-card {
    display: flex;
    align-items: flex-end;
    color: #ffffff00;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
}

.work-card:before {
    display: flex;
    content: "";
    height: 0px;
    width: 0px;
    padding-bottom: 100%;
}

.work-card:hover {
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.65);
    cursor: pointer;
}

.work-card:hover .detail-title {
    color: #ffffff;
    transition-delay: 0.2s;
}

.work-card:hover #detail-created {
    color: #ffffff;
    transition-delay: 0.3s;
}

.work-card:hover #detail-dimensions {
    color: #ffffff;
    transition-delay: 0.4s;
}

.work-card:hover #detail-materials {
    color: #ffffff;
    transition-delay: 0.5s;
}

.work-card:hover #detail-location {
    color: #ffffff;
    transition-delay: 0.6s;
}

.three-grid-work-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 0px 6px 0px 0px;
}

.two-grid-work-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 0px 6px 0px 0px;
}

.detail-title {
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 3px;
    transition: all 0.3s ease;
}

.detail-text {
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-style: italic;
    font-size: 9px;
    letter-spacing: 2.25px;
    transition: all 0.5s ease;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */
@media (max-width: 1000px) {
    /*.three-grid-container, */.two-grid-container {
        padding: 50px 60px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    /* .three-grid-work-details, .two-grid-work-details {
        background-blend-mode: overlay;
        background-color: rgba(0,0,0,0.65);
        color: #ffffff;
    }

    .work-card:hover {
        background-blend-mode: overlay;
        background-color: rgba(0,0,0,0.0);
    } */
}

 @media (max-width: 1000px) {
    .cv-details {
        display: initial;
    }
}

/*@media (max-width: 675px) {
    .three-grid-container, .two-grid-container {
        padding: 50px 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
} */

@media (max-width: 675px) {
    /*.three-grid-container, */.two-grid-container {
        padding: 50px 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}