<!-- https://andrewtirado.com/wp-content/uploads/2020/03/About-Andrew-Tirado.jpeg -->
{% extends 'base-page.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<main>
    <div class="two-grid-container">
        <div>
            <img class="grid-image" src="https://andrewtirado.com/wp-content/uploads/2020/03/About-Andrew-Tirado.jpeg" alt="Artist Andrew Ramiro Tirado sitting on steps in front of his sculpture titled 'Compass'.">
        </div>
        <div>
            <h2>ANDREW RAMIRO TIRADO</h2>
            <hr class="short-hr">
            <p>
                Andrew grew up in and currently lives in Colorado. From 1989 until 1991, he was a studio assistant for the painter Chuck Close in New York. Moving back to Colorado, he spent many years doing a variety of work from building wood strip canoes, fabricating custom props, displays, and sets, to building custom cabinetry.
            </p>
            <br>
            <p>
                For over twenty years, he worked as Seminar Faculty for the Marie Walsh Sharpe Art Foundation's Summer Seminar Program. He taught at the Bemis School of Art, the Anderson Ranch Arts Center, and, for ten years, taught woodworking and supervised the 3D Arts Facility at the Colorado College.
            </p>
            <br>
            <p>
                Since transitioning to art in 2012, he has exhibited in a number of group and solo shows, including a solo exhibit, Open, at the Colorado Springs Fine Arts Center, in 2014. That same year, his sculptural piece, Lacuna, received both the Jurors' Choice award and the Peoples' Choice award for the 16th annual Art on the Streets Exhibit in Colorado Springs, Colorado.
            </p>
            <br>
            <p>
                In 2016, Andrew established a full-time artistic practice. That year, he traveled to Italy to volunteer his assistance on an exhibit for the Venice Biennale of Architecture's 15th annual international architecture exhibition, Reporting From the Front.
            </p>
            <br>
            <p>
                Having just completed a new art studio, Andrew is currently working on his largest project to date; a public art project for the city of Tulsa, Oklahoma, as well as other commissioned and non-commissioned 2D and 3D work.
            </p>
        </div>
    </div>
</main>
{% endblock content %}