{% extends 'base-page.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<main id="cv-main">
    <div class="cv-contact">
        <p>ANDREW RAMIRO TIRADO (B. 1968)</p>
        <br>
        <p><a href="tel:17192573136">(719) 257-3136</a> | <a href="mailto:studio@andrewtirado.com">studio@andrewtirado.com</a></p>
    </div>
    <div class="cv-container">
        {% for category in category_list %}
        <h2 class="cv-category">{{ category.cv_category }}</h2>
        <div class="cv-flex">
            {% for detail in category.cv_detail.all %}
            <div class="cv-details">
                <h3 class="cv-year">{{ detail.year }}</h3>
                <p class="cv-text">{{ detail.detail }}</p>
            </div>    
            {% endfor %}
        </div>
        <!-- </div> -->
        {% endfor %}
    </div>
</main>
{% endblock content %}