<!-- https://andrewtirado.com/wp-content/uploads/2020/03/About-Andrew-Tirado.jpeg -->
{% extends 'base-page.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<main>
    <div class="two-grid-container">
        <div>
            <img class="grid-image" src="http://andrewtirado.com/wp-content/uploads/2020/04/2D-Process-Image-1-Custom.jpg" alt="Artist Andrew Ramiro Tirado sitting on steps in front of his sculpture titled 'Compass'.">
        </div>
        <div>
            <p>
                “Andrew Ramiro Tirado’s work begins as a mental drawing. The drawing serves as an armature which supports the transformation into a physical object. The mental becomes physical when his drawing takes three-dimensional form via a deceivingly random combining of linear elements which do not immediately reveal the eventual. The wood lines become refined when they move from abstraction to realism without abandoning or disguising the use of raw material. The materials are allowed to keep their natural character. As in the working drawings of Renaissance masters to those of the 20th century, the thought process is not hidden. The development of the work is evident. The skill of the artist is on display via the richness of the surfaces and respect for the medium and materials. The result is a wondrous culmination of vision, expertise and expression. The eventual pieces are powerful communicative creations with intrinsic universal and eternal meaning. Tirado’s choices are informed, honest and perhaps divine. The work cannot avoid multiple art historical references yet feels original and personal. What could be a more expressive and evocative vehicle than a human hand? A calming, hopeful, encouraging and generous balm in the chaotic world in which we live.”
            </p>
            <br>
            <p>
                Holbrook Lawson, PhD<br>Private Art Dealer/Advisor
            </p>
        </div>
    </div>
</main>
{% endblock content %}